.art{
    color:aqua;
    background:black;
}

.light_text{
    color:black;
    background: white;
}

.dark_text{
    color: white;
    background: black;
}

.darkMode{
    /*border:20px solid red;*/
    background-color: black;
    color: white;
    padding: 30px;
    margin: 15px;

}